<h1>Editing Fund Snapshot</h1>

<%= render 'form', private_fund_snapshot: @private_fund_snapshot %>

<%= link_to 'Show', @private_fund_snapshot %> |
<%= link_to 'Back', private_fund_snapshots_path %>
